/* .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .App form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapped {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  } */